extends layout 

block content 
 .reg-box 
       .header
            a(href="/logout") Log Out 
            

            h2 Add your book
            a(href="/book") create 

            h3 Table
            form(action="/home", method="get")


       <table style="width:70%;" border="2">
          <tr> 
                <th> id </th>
                <th> user_id </th>
                <th> book </th>
                <th> bookauthor </th>
                <th> update </th>
                <th> delete </th>
          </tr>
       
       each record in record_listing
          <tr>
                <td>
                    span.text-success #{record.id} 
                </td>
                <td>
                    span.text-success #{record.user_id}
                </td>
                <td>
                    span.text-success #{record.book}
                </td>
                <td>
                    span.text-success #{record.bookauthor}
                </td>
                <td>
                    a(href="/update?id="+record.id) update
                </td>    
                <td>
                    a(href="/delete?id="+record.id) delete
                </td>    
          </tr>
       </table>   