extends layout
//- extends home

block content 
   .reg-box 
       .header 
        h1= title
          -if(flag == 1)
            .alert.alert-danger(role="alert") #{message}
          -if(flag == 0)
            .alert.alert-danger(role="alert") #{message}
        h1 UPDATE
        form(method="post")
            .form-group 
                lable1(for="book") Book
                input(type="text" name="book" class="form-control")
            .form-group 
                lable1(for="bookauthor") Book Author
                input(type="text" name="bookauthor" class="form-control")
            button(type="submit" class="btn btn-primary") Submit 