extends ../layout
 
block content 
    .login-box 
        .header 
            h2 Log In 
        form(action="/auth_login", method="post")
            .form-group 
                lable1(for="email") Email 
                input(type="email" name="email" class="form-control")
            .form-group 
                labl(for="password") password
                input(type="password" name="password" class="form-control")
            button(type="submit" class="btn btn-primary") Login