extends ../layout
 
block content 
   .reg-box 
       .header 
            h2 Registration
   form(action="/auth_reg", method="post")
        .form-group 
            lable1(for="fullname") Fullname
            input(type="rext" name="fullname" class="form-control")
        .form-group 
            lable1(for="email") Email 
            input(type="email" name="email" class="form-control")
        .form-group 
            labl(for="password") Password
            input(type="password" name="password" class="form-control")
        .form-group 
            labl(for="cpassword") Confirm password
            input(type="password" name="cpassword" class="form-control")
        button(type="submit" class="btn btn-primary") Submit  